@font-face {
    font-family: "DanaRegular";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("./assets/dana/Dana-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "DanaMedium";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./assets/dana/Dana-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "DanaDemiBold";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./assets/dana/Dana-DemiBold.woff2") format("woff2");
}
